@tailwind base;
@tailwind components;
@tailwind utilities;

#hero,
#hero ~ section > .container {
  min-width: calc(100% - 2.5rem);
  position: relative;
  left: 2.5rem;
  @apply px-10;
}

section:nth-of-type(even) > .container {
  @apply bg-darkBlue text-white;
}
